{% extends "layout.html" %}

{% load static %}

{% block titulo %} {{ titulo }} {% endblock %}

<!-- CSS Personalizado -->
{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/gestionCursos.css' %}" />
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Curso</h2>
        <div class="card">
            <div class="card-body">
                <form id="formularioCurso" action="/editarCurso/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{curso.id}}" />
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{curso.nombre}}" class="form-control" minlength="3" maxlength="30" placeholder="Nombre" autofocus required />
                    </div>
                    <div class="form-group">
                        <input type="number" id="numCreditos" name="numCreditos" value="{{curso.creditos}}" class="form-control" min="1" max="10" step="1" value="1" required />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white"><i class="far fa-save"></i> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
