{% extends "layout.html" %}

{% load static %}

{% block titulo %} {{ titulo }} {% endblock %}

<!-- CSS Personalizado -->
{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/gestionCursos.css' %}" />
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-4">
        <h2>Gestión de Curso</h2>
        <div class="card">
            <div class="card-body">
                <form id="formularioCurso" action="/registrarCurso/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" minlength="3" maxlength="30" placeholder="Nombre" autofocus required />
                    </div>
                    <div class="form-group">
                        <input type="number" id="numCreditos" name="numCreditos" class="form-control" min="1" max="10" step="1" value="1" required />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white"><i class="far fa-save"></i> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h2>Listado de Cursos</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="centrado">#</th>
                        <th class="centrado">Curso</th>
                        <th class="centrado">Cr&eacute;ditos</th>
                        <th class="centrado" colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in object_list %}
                    <tr>
                        <td class="centrado">{{forloop.counter}}</td>
                        <td class="centrado">{{c.nombre}}</td>
                        <td class="centrado">{{c.creditos}}</td>
                        <td class="centrado">
                            <a href="edicionCurso/{{c.id}}" class="btn btn-sm btn-block btn-info"><i class="fas fa-pencil-alt"></i> Editar</a>
                        </td>
                        <td class="centrado">
                            <a href="eliminacionCurso/{{c.id}}" class="btn btn-sm btn-block btn-danger btnEliminacion"><i class="far fa-trash-alt"></i> Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

<!-- JS Personalizado -->
{% block customJS %}
<script src="{% static 'js/gestionCursos.js' %}"></script>
{% endblock %}
